<h1>Bienvenue aux chiffres et aux lettres</h1>

<h2><%= @grid.join(" ") %></h2>

<form action="/score">
  <input type="text" placeholder="Guess the longuest word" name="attempt">
  <input type="hidden" name="grid" value="<%= @grid.join(" ") %>">
  <input type="hidden" name="start" value="<%= @start %>">
  <input type="submit" value="Go" >

</form>
