<h1>Votre tentative : <%= @attempt %></h1>

<h2>Détails</h2>
<ul>
  <li>Time: <%= @result[:time] %> seconds</li>
  <li>Means : "<%= @result[:translation] %>"</li>
  <li>Score: <%= @result[:score] %> points</li>
</ul>
